---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <article class="prose">
    <h1 class="text-8xl font-bold">404</h1>
    <h2>Page Not Found</h2>
    <p>Sorry, we couldn't find the page you were looking for.</p>
    <a href="/">← Go Home</a>
  </article>
</LayoutDefault>
