---
import { themeConfig } from '~/.config'

const { title, subtitle } = themeConfig.site
---

<hgroup
  lg="items-start text-left"
  flex="~ row gap-2.5 items-baseline"
  class="cursor-pointer text-center duration-800 ease-in-out"
>
  <a
    class="site-title-link not-underline-hover duration-800 ease-in-out"
    lg:p="x-2.5 b-1 hover:(t-3.75 b-8.75)"
    hover:lg=" bg-primary color-background"
    href="/"
  >
    <h3 class="text-5 font-extrabold font-header">{subtitle}</h3>
    <h1 class="text-8 font-extrabold font-header">{title}</h1>
  </a>
</hgroup>
