---
import { themeConfig } from '~/.config'
import { profile } from '~/data/profile'

const { navLinks } = themeConfig.site

const initials = profile.name
  .split(' ')
  .map((part) => part[0])
  .join('')
---

<header class="flex justify-between items-start pt-5 pb-8">
  <a
    href="/"
    class="not-underline-hover inline-flex w-11 h-11 items-center justify-center bg-primary c-background font-mono font-bold text-4"
  >
    {initials}
  </a>
  <nav flex="~ col gap-0.5" class="items-start">
    {
      navLinks.map((nav) => (
        <a
          href={nav.href}
          class:list={[
            'not-underline-hover font-mono text-3.25 c-primary hover:underline',
            { 'bg-primary c-background px-1.5': nav.highlight },
          ]}
        >
          {nav.name}
        </a>
      ))
    }
  </nav>
</header>
