---
import '@fontsource-variable/archivo'
import '@fontsource-variable/instrument-sans'
import '@fontsource/ibm-plex-mono'
import { themeConfig } from '~/.config'
import SiteSeo from '~/components/SiteSeo.astro'
import SiteHeader from '~/components/SiteHeader.astro'
import ThemeScript from '~/components/ThemeScript.astro'
import FooterColumns from '~/components/home/FooterColumns.astro'
import '~/styles/global.css'

const lang = themeConfig.appearance.locale ?? 'en-us'
const dark = themeConfig.appearance.theme === 'dark'
---

<html lang={lang} class:list={[{ dark }]}>
  <head>
    <slot name="seo"> <SiteSeo /> </slot>
    <ThemeScript />
  </head>

  <body class="max-w-1600px mx-auto px-5 lg:px-10 bg-background">
    <SiteHeader />

    <main>
      <slot />
    </main>

    <FooterColumns />
  </body>
</html>
