---
import { themeConfig } from '~/.config'
import SiteFooter from '~/components/SiteFooter.astro'
import SiteNavigation from '~/components/SiteNavigation.astro'
import SiteTitle from '~/components/SiteTitle.astro'
import SiteSeo from '~/components/SiteSeo.astro'
import LaTeX from '~/components/LaTeX.astro'
import ThemeScript from '~/components/ThemeScript.astro'
import '~/styles/global.css'

const lang = themeConfig.appearance.locale ?? 'en-us'
const dark = themeConfig.appearance.theme === 'dark'
---

<html lang={lang} class:list={[{ dark }]}>
  <head>
    <slot name="seo"> <SiteSeo /> </slot>
    <LaTeX />
    <ThemeScript />
  </head>

  <body
    class="h-100vh max-w-1600px min-w-390px mx-a"
    p="7.5 lg:(y-0 x-5)"
    lg="grid gap-x-6 cols-[1fr_3fr] rows-[1fr_9rem]"
  >
    <header
      class="flex flex-col gap-2.5"
      m="7.5 lg:(x-0 t-20 b-4)"
      lg="row-1-2 col-1-2 justify-between items-start"
    >
      <SiteTitle />
      <SiteNavigation />
    </header>

    <main class="overflow-y-scroll scrollbar-hide outline-none" lg="row-1-3 col-2-3 py-20 ">
      <slot />
    </main>

    <footer class="py-7.5" lg="row-2-3 col-1-2">
      <SiteFooter />
    </footer>
  </body>
</html>
